[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,[{metadata,[request_id]},{format,<<"[$level] $message\n">>}]}]},
 {phoenix,[{stacktrace_depth,20}]},
 {todolist,
     [{ecto_repos,['Elixir.Todolist.Repo']},
      {'Elixir.Todolist.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {secret_key_base,
               <<"OjFWWtd1pnGiEOLsp/J5zXpQopbaJ7Pa71RVJRj3yQgrf+CkgV/JNh4H3B2uCk0D">>},
           {render_errors,
               [{view,'Elixir.Todolist.ErrorView'},{accepts,[<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Todolist.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {debug_errors,true},
           {code_reloader,true},
           {check_origin,false},
           {watchers,[]}]},
      {'Elixir.Todolist.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"todolist_dev">>},
           {hostname,<<"localhost">>},
           {pool_size,10}]}]}].
